{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block ehead %}
  <meta http-equiv="refresh" content="3"/>
{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <h2>{{ object.username }}</h2>
      {% if object.name %}
        <p>{{ object.name }}</p>
      {% endif %}
    </div>
  </div>

{% if object == request.user %}
<!-- Action buttons -->
<div class="row">

  <div class="col-sm-12">
    <hr />
    <h2> Your Info </h2>
    <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">My Info</a>
    <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">E-Mail</a>
    <!-- Your Stuff: Custom user template urls -->
  </div>

</div>
<!-- End Action buttons -->
<!-- Scores -->
<div class="row">
  <hr />
  <div class="col-sm-12">
    <h2> Scores </h2>
    {% for score in object.multiple_choice_score.all %}
      {% include "questions/multiplechoicequestion_listitem_snippet.html" with question=score.question score=score %}
    {% endfor %}
  </div>

</div>
<!-- End Scores -->
{% endif %}


</div>
{% endblock content %}

