<style>
  .pastel-blue {
    background-color: #5bc0de;
  }
  .pastel-yellow {
    background-color: #ffdc24;
  }
  .pastel-pink-darker {
    background-color: #e24b77
  }
</style>

{% if quiz.subject.name|lower == "maths" %}
<div class="card pastel-yellow">
{% elif quiz.subject.name|lower == "english" %}
<div class="card pastel-blue">
{% elif quiz.subject.name|lower == "science" %}
<div class="card pastel-pink-darker">
{% endif %}
  <div class="card-block">
    <div class="row">
      <div class="col-sm-1 text-xs-center">
        {% if quiz.subject.name|lower == "maths" %}
          <i class="fa fa-calculator fa-4x" aria-hidden="true" ></i>
        {% elif quiz.subject.name|lower == "english" %}
          <i class="fa fa-book fa-4x" aria-hidden="true"></i>
        {% elif quiz.subject.name|lower == "science" %}
          <i class="fa fa-flask fa-4x" aria-hidden="true"></i>
        {% endif %}
        <p>{{ quiz.subject.name|title }}</p>
      </div>
      <div class="col-sm-5 text-xs-center">
        <h3 class="card-title"> <a href="{% url 'quiz:detail' quiz.id %}"> {{ quiz.name }} </a></h3>
      </div>
      {% include "scores/score_listitem_snippet.html"  with score=quiz.score  %}
    </div>
  </div>
</div>