{% extends "base.html" %}
{% block content %}
<div class="jumbotron" style='text-align: center;'>
  <h1 class="display-3">Welcome to StudyTime</h1>
  <p class="lead">Your friendly learning assistant and progress tracking tool, it's nice to meet you.</p>
  <hr class="my-4">
  <p>This web application is designed to be used in combination with the StudyTime Alexa skill. </p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/about" role="button">Learn more</a>
    <a class="btn btn-secondary btn-lg" href="#" role="button">Get the Alexa Skill</a>
  </p>
</div>
{% endblock %}