{% extends "base.html" %}
{% load static i18n %}
{% block title %}Questions{% endblock %}

{% block content %}
<div class="container">
  <h2>Questions</h2>

  <div class="list-group">
    {% for question in multiplechoicequestion_list%}
      <a href="{% url 'questions:detail' question.id %}" class="list-group-item">
      <div class="row">
  		<div class="col-sm-6">
        	<h4 class="list-group-item-heading">{{ question.prompt_text }}</h4>
        </div>
        <div class="col-sm-2">
        	<div class="card card-inverse card-success">
	          <div class="card-block">
	            <h4 class="card-title">Correct: 1</h4>
	          </div>
	        </div>
        </div>
        <div class="col-sm-2">
        	<div class="card card-inverse card-warning">
	          <div class="card-block">
	            <h4 class="card-title">Missed: 1</h4>
	          </div>
	        </div>
        </div>
        <div class="col-sm-2">
        	<div class="card card-inverse card-primary">
	          <div class="card-block">
	            <h4 class="card-title">Total: 1</h4>
	          </div>
	        </div>
        </div>
      </div>
      </a>
    {% endfor %}
  </div>
</div>
{% endblock content %}
